.ageMain {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.h1 {
    display: block;
    font-size: 42px;
    font-family: var(--Poppins);
    font-weight: 700;
    font-style: normal;
    color: hsl(271, 100%, 62%);
}

.data {
    display: block;
    font-size: 38px;
    color: hsl(0, 0%, 0%);
    font-family: var(--Poppins);
    font-weight: 700;
    font-style: italic;
}
