.main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    margin: 0 auto;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: 1px solid rgba(79, 26, 204, 0.86);
    border-radius: 16px;
    border-end-end-radius: 126px;
    max-width: 938px;
}

.inputStyles {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-top: 10px;
}

.inputDay {
    display: block;
}

.outputAge {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 28px 54px;
    gap: 4px;
}

.addButton {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

.imgIcon {
    width: 50px;
    height: 50px;
}
